@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.about-me {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: -5%;
  left: 10%;

  .about-me-text {
    animation: fadein 2s;
  }
  p {
    color: white;
  }
}

.about-me img {
  width: 200px;
  border-radius: 50%;
  animation: fadein 1s;
  margin-top: 10px;
  margin-bottom: 10px;
}
.description {
  animation: fadein 2.3s;
  width: 50vw;
}
.about-me-text {
  font-size: 50px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

.bouncing-text {
  font-size: 50px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    animation: bounce 0.5s linear;
  }
}
.bouncing-text {
  letter-spacing: 0;

  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url(https://img.freepik.com/vector-gratis/fondo-galaxia-acuarela-pintada-mano_52683-63443.jpg?w=2000)
    repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
